header h1 {
    text-align: right;
    margin: 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

header h2 {
    text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

h3 {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}